<h2 *ngIf="status != null">ERROR: {{ status.message }}</h2>
<div *ngIf="status == null">
  <table class="table custom-table" *ngIf="oThread">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ oThread.id }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ oThread.title }}</td>
      </tr>
      <tr>
        <td>lastname</td>
        <td><a [routerLink]="['/admin/user/view', oThread.user.id]">
            {{ oThread.user.name }}
          </a></td>
      </tr>
      <tr>
        <td>Replies</td>
        <td>{{ oThread.replies }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="oThread === null && textoDeEntrada !== ''">
    No se encontró ningún thread para el ID ingresado
  </p>
</div>