<h2 *ngIf="status != null">ERROR: {{ status.message }}</h2>
<div *ngIf="status == null">
  <div class="container mt-4 tabla">
    <div class="row">
      <div class="col">
        <p-table
          [value]="oPage.content"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th (click)="doOrder('id')">ID</th>
              <th (click)="doOrder('title')">Title</th>
              <th (click)="doOrder('user')">User</th>
              <th (click)="doOrder('replies')">Replies</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-u>
            <tr>
              <td>{{ u.id }}</td>
              <td>{{ u.title }}</td>
              <td>
                <a [routerLink]="['/admin/user/view', u.user.id]">
                  {{ u.user.username }}
                </a>
              </td>
              <td>{{ u.replies }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <h3 class="resultado mt-4 mb-4">
    Showing {{ oPage.numberOfElements }} of total
    {{ oPage.totalElements }} registers
  </h3>

  <div class="card flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChang($event)"
      [first]="oPaginatorState.first!"
      [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage.totalElements"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>
</div>
